<div class='trips'>
  <h1 class='title'>Suas viagens</h1>
  <h3>Fatura atual: R$ <%= @actual_bill_value %></h3>
  <% @trips.each do |trip| %>
    <div class='trip'>
      <div class='trip-info'>
        <section class='start-time'>
          Origem: <b><%= trip.start_station.name %></b> (<%= trip.start_time.strftime('%d/%m/%Y %H:%M') %>)
        </section>
        <section class='finish-time'>
          Destino: <b><%= trip.finish_station.name %></b> (<%= trip.finish_time.strftime('%d/%m/%Y %H:%M') %>)
        </section>
        <section class='trip-cost'>
          Valor: <b>R$ <%= trip.cost %></b>
        </section>
      </div>
    </div>
  <% end %>
</div>