<div class="div-user-edit">
  <h2 class="header-user-edit">Editar informações</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field-user-edit">
      <%= f.label :nome %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field-user-edit">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field-user-edit">
      <%= f.label :nova_senha %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
      <% end %>
    </div>

    <div class="field-user-edit">
      <%= f.label :confirme_a_nova_senha %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field-user-edit">
      <%= f.label :senha_atual %> <i>(obrigatório)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions-user-edit">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
