<div class='stations'>
  <img src='/assets/bike.png' alt='' class='bike-img'>
  <% @stations.each do |station| %>
    <div class='station' id='<%= station.name.downcase.gsub(' ', '-') %>'>
      <div class='station_info'>
        <section class='station_name'>
          <%= station.name %> (spots: <%= station.spots_number %>)
        </section>
        <% if current_user.bike.nil? %>
          <section class='available_bikes'>
            Bikes disponíveis: <%= station.available_bikes %>
          </section>
          <section class='damaged_bikes'>
            Bikes com problemas: <%= station.damaged_bikes %>
          </section>
        <% end %>
        <section class='station_spots'>
          Vagas disponíveis: <%= station.vacancy_number %>
        </section>
      </div>
      <%= render current_user.bike.present? ? 'devolution' : 'withdraw', station: station %>
    </div>
  <% end %>
</div>
