<!DOCTYPE html>
<html>

<head>
  <title>BikeTipoVc</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%= javascript_pack_tag 'main' %>
  <header class="main-header">
    <% if current_user %>
      <div class="home-path">
        <%= link_to "BikeTipoVc", stations_path, class: 'home-icon' %>
      </div>
      <div class="header-buttons">
        <div class="current-user-logout">
          <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn-logout' %>
        </div>
        <% if !current_page?(edit_user_registration_path	)  %>
        <div class="edit-current-user">
          <%= button_to "edit", edit_user_registration_path	, method: :get, class: 'btn-edit-user' %>
        </div>
        <% end %>
        <% if !current_page?(trips_path)  %>
        <div class="current-user-trips">
          <%= button_to "trips", trips_path, method: :get, class: 'btn-trips' %>
        </div>
        <% end %>
        <div class="current-user">
          <%= current_user.name %>
        </div>
      </div>
    <% else %>
      <div class="home-path">
        <p class="home-icon">BikeTipoVc</p>
      </div>
    <% end %>
  </header>

  <div>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
  <%= yield %>
</body>

</html>